<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supervisor</title>
</head>
<body>
    <form method="post" action="/org">
        Username<input type="text" name="username"/><br>
        Password<input type="text" name="password"/><br>
        <input type="submit" value="Register"><br>
    </form>

    <br><br><br><br>

    <form method="post" action="/licence/purchase">
        Username<input type="text" name="username"/><br>
        Password<input type="text" name="password"/><br>
        Type<input type="text" name="type"/><br>
        <input type="submit" value="Purchase"><br>
    </form>

    <br><br><br><br>

    <form method="get" action="/licence/current">
        Serial Number<input type="text" name="serialNumber"/><br>
        <input type="submit" value="Select"><br>
    </form>

</body>
</html>